li{
    list-style-type: none;
    font-size: large;
}

a{
    color: rgba(255, 255, 255, 0.849);
    text-decoration: none;
}

.nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

a:hover{
    cursor: pointer;
    color: white;
}

.item a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease;
}

.item a:hover::after{
    width: 100%;
}